In [8]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
from sklearn import tree

In [9]:
df = pd.read_csv('grades_learn.csv')
df.head

<bound method NDFrame.head of     PUPIL_SEX  PUPIL_CLASS  TEACHER_RIGHT  TEACHER_CHK  TEACHER_QUEST  \
0           0            0             65            0              4
1           0            0             70            4              0
2           0            0             85            0              0
3           1            0             55            0              0
4           1            0             40            1              2
5           1            0             65            0              3
6           0            0             67            0              0
7           0            0             60            0              2
8           0            0            100            0              0
9           0            0            100            1              0
10          0            0            100            1              0
11          0            0             86            0              0
12          0            0             50            1              0
13          0            0             60            3              0
14          0            0             75            1              0
15          0            0             80            0              1
16          0            0             87            0              0
17          0            0             90            0              0
18          1            0             60            0              1
19          1            0             40            1              3
20          0            0             70            0              3
21          0            0             85            1              0
22          0            0            100            0              0
23          0            0             40            0              0
24          0            0             40            1              2
25          1            0            100            0              0
26          0            0            100            0              0
27          0            0            100            0              0
28          1            0             40            2              0
29          0            0             80            0              1
30          1            0            100            0              0
31          0            0            100            0              0
32          0            0            100            0              0
33          0            0             40            0              2
34          0            0            100            0              0
35          1            0            100            0              0
36          0            0            100            0              0
37          0            0            100            0              0
38          0            0             80            1              0
39          1            0              0            0              2
40          1            0             60            1              1
41          0            0             80            1              0
42          0            1             30            0              1
43          0            1             50            0              1
44          0            1             30            0              1
45          1            1             80            0              1
46          0            1            100            0              0
47          0            1              0            0              0
48          0            1             30            0              0
49          0            1             60            0              1
50          0            1              0            0              0
51          0            1             20            0              0
52          1            1             20            0              0
53          1            1             15            0              0
54          0            1            100            0              0
55          0            1             30            0              0
56          0            1              0            0              0

    TEACHER_CORR  PUPIL_CORR  PUPIL_STRIP  GRADE
0              2           1            6     35
1              4           0            4     30
2              4           3            5     40
3              1           8            3     30
4              0           3            4     20
5              4           4            8     35
6              1           3            3     35
7              0           5            9     30
8              2           0            2     45
9              2           3            1     40
10             2           0            5     50
11             1          10            1     40
12             6           0            1     35
13             4           1            5     40
14             2           1            2     40
15             1           1            2     40
16             2           3            4     40
17             1           1            1     40
18             4           0            0     30
19             3           1            2     30
20             1           0            1     40
21             1           0            1     40
22             0           0            1     50
23             1           2            4     40
24             0           8            4     30
25             0           0            0     50
26             0           0            0     50
27             0           0            5     50
28             0           1            5     30
29             1           0            5     40
30             0           0           10     50
31             1           0            2     50
32             1           0            0     45
33             0           0            0     20
34             2           0            5     45
35             0           0            2     50
36             5           0            0     45
37             3           0            4     45
38             0           2           12     35
39             0           0            4     20
40             4           9            0     35
41             1           0           12     40
42             2           1            1     30
43             2           1            1     20
44             2           2            0     30
45             1           0            2     40
46             0           0            0     50
47             2           0            1     20
48             1           2            0     20
49             1           3            2     40
50             5           4            1     20
51             2           2            1     25
52             2           0            6     20
53             0           0           11     20
54             0           2            0     50
55             1           5            3     25
56             0           0            1     20  >

In [10]:
x = df.iloc[:,:8]
x.head()

,PUPIL_SEX,PUPIL_CLASS,TEACHER_RIGHT,TEACHER_CHK,TEACHER_QUEST,TEACHER_CORR,PUPIL_CORR,PUPIL_STRIP
0,0,0,65,0,4,2,1,6
1,0,0,70,4,0,4,0,4
2,0,0,85,0,0,4,3,5
3,1,0,55,0,0,1,8,3
4,1,0,40,1,2,0,3,4

In [4]:
y=df.iloc[:,8:]
y.head()

   GRADE
0     35
1     30
2     40
3     30
4     20

In [5]:
model=tree.DecisionTreeClassifier(criterion="entropy")
model.fit(x,y)

DecisionTreeClassifier(criterion='entropy')

In [6]:
model.score(x,y)

1.0

In [16]:
df_test = pd.read_csv('grades_test.csv')
ll = df_test.values.tolist()
results = []

for l in ll:
    results.append(model.predict([l[:8]]))
    
print(*results)

[35] [35] [20] [50] [40] [35] [40] [35] [35] [35] [40] [40] [35] [40] [40]